* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --gap: 2rem;
    --lightgray-color: #eeeeee;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
    font-family: 'Mooli', sans-serif;
    font-size: 1.6rem
}

h1 {
    font-size: 2rem;
}


.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--gap);
}

.section {
    min-height: 100vh;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 0.01rem solid var(--lightgray-color);
}


.menu-content {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    display: block;
    color: black;
    padding: 1rem;
    position: relative;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 0%;
    width: 0;
    height: 0.2rem;
    background: black;
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 100%;
}

.menu h1 {
    font-size: 2rem;
}

h1 {
    font-size: 4rem;
}

p {
    padding-top: 10px;
    font-size: 2rem;
    font-weight: 700;
}

.menu h1 a {
    color: black;
}

.menu-spacing {
    height: 65px;
}

.intro-content {
    justify-content: center center;
    position: relative;
    display: flex;
    gap: var(--gap);
    min-height: 100vh;
}

.linguagens:hover {
    color: rgb(17, 218, 17);
}

.intro-text,
.intro-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-img img {
    max-width: 100%;
    height: auto;
}

.close-menu {
    display: none;
}

.githubcolor:hover {
    color:#333;
}