<aside class="menu">
    <div class="menu-content main-content">
        <h1><a href="/">Agenda</a></h1>
        <nav>

            <li><a href="/contato/index">Cadastrar contato</a></li>

            <% if(user) { %> 
            <ul>
                <li><a href=""></a></li>
                <li><a href="/login/logout">Logout</a></li>
            </ul>
                <% } else  { %> 
                    <ul>
                    <li><a href=""></a></li>
                    <li><a href="/login/logup">Entrar</a></li>
                </ul>
                    <% } %>
            </ul>
        </nav>
    </div>

    </div>
</aside>