<aside class="menu">
    <div class="menu-content main-content">
        <h1><a href="">Agenda</a></h1>
        <nav>
            <ul>
                <li><a href="">Contatos</a></li>
                <li><a href="">Login</a></li>
            </ul>
        </nav>
    </div>

    </div>
</aside>