<aside class="menu">
    <div class="menu-content main-content">
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Login</a></li>
            </ul>
        </nav>
    </div>

    </div>
</aside>