<%- include('includes/head.ejs'); %>
    <%- include('includes/nav.ejs'); %>

        <div class="container">
            <div class="">
                <div class=""></div>

                <%- include('includes/messages') %>

                <div class="">
                    <h1 class="agendaH1">Agenda</h1>
                    <p class="agendaP">Seus contatos estão abaixo.</p>
                </div>
                <div class=""></div>

            <%- include('includes/fotter.ejs'); %>