<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mooli&display=swap" rel="stylesheet">
    <title>GABE</title>
</head>

<body>
    <aside class="menu">
        <div class="main-content menu-content">
            <h1><a href="#">Gabe</a></h1>
            <nav>
                <ul>
                    <li><a href="#Home">Home</a></li>
                    <li><a href="#Git" class="githubcolor">Github</a></li>
                    <li><a href="#Contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </aside>

    <div class="menu-spacing"></div>

    <section class="section intro">
        <div class="main-content intro-content">
            <div class="">
                <h1>EU</h1>
                <P>Quem sou eu? <br>
                Me chamo Gabriel, moro na Capital de São Paulo, tenho 18 anos e estudo algumas <span class="linguagens">linguagens.</span></P>
            </div>
    </section>

    <script src="/public/assets/js/bundle.js"></script>
</body>

</html>