<%- include('includes/head.ejs'); %>
    <%- include('includes/nav.ejs'); %>
        <div class="container">
            <div>
                <div>
                    <h1 class="hello">Olá! não tem uma conta?
                        <h2 class="hellobellow">crie uma!</h2>
                    </h1>
                    <div class="spacing"></div>
                    <form action="/login/register" method="POST">

                        <%- include('includes/messages'); %>

                            <div class="form-group">
                                <label for="">Seu nome</label> <br>
                                <input type="text" name="nickname" placeholder="">
                            </div>
                            <div class="spacing"></div>
                            <div class="form-group">
                                <label for="e-mail">Seu E-mail</label><br>
                                <input type="email" name="email" placeholder="">
                                <div class="spacing"></div>
                            </div>
                            <div class="form-group">
                                <label for="password">Sua senha</label><br>
                                <input type="password" name="password" placeholder="">
                            </div>
                            <div class="spacing"></div>
                            <div class="testandob">
                                <button>Login</button>
                            </div>
                    </form>
                </div>
                <div class="spacing"></div>
                <div>Já tem uma conta? <span class="signuphere"><a href="/login/logup">entre aqui</a></span></div>
            </div>
        </div>
        <%- include('includes/fotter.ejs'); %>