<%- include('includes/head.ejs'); %>
    <%- include('includes/navLogin.ejs'); %>
        <div class="container">
            <div>
                <div>
                    <h1 class="hello">Entre na sua conta!</h1>
                    <div class="spacing"></div>
                    <form action="/login/logup" method="POST">
                            <label for="">Seu nome</label> <br>
                            <input type="text" name="nickname" placeholder="">

                            <div class="spacing"></div>

                            <label for="e-mail">E-mail</label><br>
                            <input type="email" name="email" placeholder="">
                            <div class="spacing"></div>


                            <label for="password">Sua senha</label><br>
                            <input type="password" name="password" placeholder="">
                            <br>
                            <div class="spacing"></div>
                            <div class="spacing"></div>
                            <div class="testandob">
                                <button>Entrar</button>
                            </div>
                    </form>
                </div>
            </div>
        </div>


        <%- include('includes/fotter.ejs'); %>